body{
    background: url(../img/fondos/fondo1.png) no-repeat content-box;
   
} 

.col-md-12 .caja{
    background:black;
    opacity:0.9;
    width:500px;
    height:450px;
    padding:5%;
    color:white;
}

 .col-md-12 .caja{
    border-radius:7px;
    transform:translate(3%,15%);
}

 .col-md-12 .in{
   width:85%;
}

 
